<!doctype html>
<html>
<head>
    <title>Push Notification</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!-- okeyNav -->
    <link rel="stylesheet" href="./css/okayNav.min.css" media="screen">
    <script src="./js/jquery.okayNav.js"></script>

    <link rel="stylesheet" href="./css/style.css">
    <script src="./controller/index.js"></script>

</head>
<body>
    <header id="header">
        <nav role="navigation" id="nav-main" class="okayNav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/news">NEWS</a></li>
                <li><a href="/newsList">NEWS List</a></li>
                <li><a href="/patients">Patients List</a></li>
                <li><a href="/user">Register User</a></li> 
                <li><a href="/users">Users List</a></li>    
                <li><a href="/send">Send Message</a></li>                               
            </ul>
        </nav>
    </header>

    </br>

    <main>
        <h1>Software Framework Prototype by Georgian-Sorin Maxim</h1>
        <h2>Version 0.0.1</h2>
        <p>NEWS: Register a Self-measured National Early Warning Score (NEWS) </p>
        <p>NEWS List: All self-measured scores.</p>
        <p>Patient Lists: All patients / create new patients.</p>
        <p>Register User: Create a new user for the smartphone app.</p>
        <p>Users List: All users that can access the smartphone app.</p>
        <p>Send Message: Send a custom Push Notification.</p>
    </main>
<script>
  var navigation = $('#nav-main').okayNav();
</script>
</body>
</html>
