<!doctype html>
<html ng-app="myApp">
<head>
    <title>NEWS Registration / Notification</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/ngAlertify.js"></script>

    <!-- okeyNav -->
    <link rel="stylesheet" href="./css/okayNav.min.css" media="screen">
    <script src="./js/jquery.okayNav.js"></script>

    <link rel="stylesheet" href="./css/style.css">
    <script src="./controller/news.js"></script>
    <script src="./services/core.js"></script>
</head>
<body ng-controller="newsController">
  <header id="header">
      <nav role="navigation" id="nav-main" class="okayNav">
          <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/news">NEWS</a></li>
                <li><a href="/newsList">NEWS List</a></li>
                <li><a href="/patients">Patients List</a></li>
                <li><a href="/user">Register User</a></li> 
                <li><a href="/users">Users List</a></li>    
                <li><a href="/send">Send Message</a></li>                                                
          </ul>
      </nav>
  </header>

  </br>

  <main>
    <h1>Self-measured National Early Warning Score (NEWS)</h1>
    <h2>Register your Physiological Parameters using this form.</h2>

    <form>
        <label for="cpr" class="labelForm">CPR</label>
        <input type="text" id="cpr" name="cpr" placeholder="CPR" ng-model="input.cpr" required/> </br>
        
        <label for="firstname" class="labelForm">First Name</label>
        <input type="text" id="firstname" name="firstname" placeholder="First Name" ng-model="input.firstname" required/> </br>

        <label for="lastname" class="labelForm">Last Name</label>
        <input type="text" id="lastname" name="lastname" placeholder="Last Name" ng-model="input.lastname" required/> </br>

        <label for="respiration" class="labelForm">Respiration Rate</label>
        <select ng-model="input.respiration" ng-options="option.value as option.name for option in respirationOptions"></select> </br> 

        <label for="oxygenSat" class="labelForm">Oxygen Saturations</label>
        <select ng-model="input.oxygenSat" ng-options="option.value as option.name for option in oxySatOptions" required></select> </br>

        <label for="oxygen" class="labelForm">Any Supplemental Oxygen</label>
        <select ng-model="input.oxygen" ng-options="option.value as option.name for option in oxyOptions" required></select> </br>

        <label for="temp" class="labelForm">Temperature</label>
        <select ng-model="input.temp" ng-options="option.value as option.name for option in tempOptions" required></select> </br>

        <label for="systolic" class="labelForm">Systolic BP</label>
        <select ng-model="input.systolic" ng-options="option.value as option.name for option in sysOptions" required></select> </br>

        <label for="heartRate" class="labelForm">Heart Rate</label>
        <select ng-model="input.heartRate" ng-options="option.value as option.name for option in hrOptions" required></select> </br>

        <label for="consciousness" class="labelForm">Level of Consciousness</label>
        <select ng-model="input.consciousness" ng-options="option.value as option.name for option in conscOptions" required></select> </br>

        <div class="buttons">
          <button class="button" ng-click="register()">Register NEWS</button>
        </div>
    </form>

  </main>
<script>
  var navigation = $('#nav-main').okayNav();
</script>
</body>
</html>
