<!doctype html>
<html ng-app="myApp">
<head>
    <title>Patients</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/ngAlertify.js"></script>

    <!-- okeyNav -->
    <link rel="stylesheet" href="./css/okayNav.min.css" media="screen">
    <script src="./js/jquery.okayNav.js"></script>

    <link rel="stylesheet" href="../../css/style.css">
    <script src="./controller/patientList.js"></script>
    <script src="./services/core.js"></script>
</head>
<body ng-controller="resultsController">
    <header id="header">
        <nav role="navigation" id="nav-main" class="okayNav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/news">NEWS</a></li>
                <li><a href="/newsList">NEWS List</a></li>
                <li><a href="/patients">Patients List</a></li>
                <li><a href="/user">Register User</a></li> 
                <li><a href="/users">Users List</a></li>    
                <li><a href="/send">Send Message</a></li>                                                 
            </ul>
        </nav>
    </header>

    </br>

    <main>
      <h1>Patient List</h1>
      <form class="patient">
        <div ng-repeat="patient in patients"/>
            <input type="text" name="cprp" ng-model="patient.cpr" readonly class="disabled"/> 
            <input type="text" name="firstn" ng-model="patient.firstname" /> 
            <input type="text" name="lastn" ng-model="patient.lastname" /> 
            <input type="text" name="diagn" ng-model="patient.diagnosis" /> 
            <select name="triageD" ng-model="patient.triage" ng-options="option.value as option.name for option in triageOptions"></select>
            <button type="submit" ng-click="updatePatient(this.patient)" class="button"/>Update Patient</button> 
            <button type="submit" ng-click="deletePatient(this.patient.cpr)" class="buttonRed"/>Delete Patient</button> 
        </div>
      </form>

      <h1>Add New Patient</h1>
      <form class="patient">
        <div class="add">
            <input type="text" id="cpr" name="cpr" ng-model="input.cpr" placeholder="CPR" required />
            <input type="text" id="firstname" name="firstname" ng-model="input.firstname" placeholder="First Name" required/>
            <input type="text" id="lastname" name="lastname" ng-model="input.lastname" placeholder="Last Name" required/>

            <input type="text" id="address" name="address" ng-model="input.address" placeholder="Address"/>
            <input type="text" id="city" name="city" ng-model="input.city" placeholder="City"/>
            <input type="text" id="zip" name="zip" ng-model="input.zip" placeholder="ZIP"/>
            <input type="text" id="doctor" name="doctor" ng-model="input.doctor" placeholder="Doctor"/>

            <input type="text" id="diagnosis" name="diagnosis" ng-model="input.diagnosis" placeholder="Diagnosis" required/>
            <select id="triage" name="triage" ng-model="input.triage" ng-options="option.value as option.name for option in triageOptions" required></select>

            <button type="submit" class="button" ng-click="register()"/>Create Patient</button> </br>
        </div>
      </form>
      <br>

  </main>
<script>
  var navigation = $('#nav-main').okayNav();
</script>
</body>
</html>
