<!doctype html>
<html ng-app="myApp">
<head>
    <title>Send Push Notification</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/ngAlertify.js"></script>

    <!-- okeyNav -->
    <link rel="stylesheet" href="./css/okayNav.min.css" media="screen">
    <script src="./js/jquery.okayNav.js"></script>

    <link rel="stylesheet" href="./css/style.css">
    <script src="./controller/send.js"></script>
    <script src="./services/core.js"></script>
</head>
<body ng-controller="registerController">
    <header id="header">
        <nav role="navigation" id="nav-main" class="okayNav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/news">NEWS</a></li>
                <li><a href="/newsList">NEWS List</a></li>
                <li><a href="/patients">Patients List</a></li>
                <li><a href="/user">Register User</a></li> 
                <li><a href="/users">Users List</a></li>    
                <li><a href="/send">Send Message</a></li>                                                       
            </ul>
        </nav>
    </header>

    </br>

    <main>
      <h1>Send Push Notification to the registered devices</h1>
      <form>
              <div id="">
                  <input type="text" id="title" name="title" ng-model="input.title" placeholder="Subject" required/> </br>
                  <textarea id="msg" name="msg" ng-model="input.msg" placeholder="Message" required></textarea></br>
<!--                   <select name="receiver" ng-model="receiver"  ng-options="option.value as option.name for option in typeOptions" class=""></select> -->
                  <button type="submit" class="button" ng-click="register()"/>Send Push Message</button> </br>
              </div>
      </form>
    </main>
<script>
  var navigation = $('#nav-main').okayNav();
</script>
</body>
</html>
