<!doctype html>
<html ng-app="myApp">
<head>
    <title>Alle transporter</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/ngAlertify.js"></script>

    <!-- okeyNav -->
    <link rel="stylesheet" href="./css/okayNav.min.css" media="screen">
    <script src="./js/jquery.okayNav.js"></script>

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/table.css">

    <script src="./controller/users.js"></script>
    <script src="./services/core.js"></script>
</head>
<body ng-controller="usersController">
    <header id="header">
        <nav role="navigation" id="nav-main" class="okayNav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/news">NEWS</a></li>
                <li><a href="/newsList">NEWS List</a></li>
                <li><a href="/patients">Patients List</a></li>
                <li><a href="/user">Register User</a></li> 
                <li><a href="/users">Users List</a></li>    
                <li><a href="/send">Send Message</a></li>                         
            </ul>
        </nav>
    </header>

    </br>

    <main>

       <h1>Alle users</h1>
       <table class="user table table-bordered table-striped" ng-show="users.length!==0">
        <thead>
          <tr>
            <td>
              <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                Username (brugernavn)
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'cpr'; sortReverse = !sortReverse">
                Name 
                <span ng-show="sortType == 'cpr' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'cpr' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'organisation_from'; sortReverse = !sortReverse">
                Email
                <span ng-show="sortType == 'organisation_from' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'organisation_from' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'from_room'; sortReverse = !sortReverse">
                Phone
                <span ng-show="sortType == 'from_room' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'from_room' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'organisation_to'; sortReverse = !sortReverse">
                Role
                <span ng-show="sortType == 'organisation_to' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'organisation_to' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'to_room'; sortReverse = !sortReverse">
                Organisation
                <span ng-show="sortType == 'to_room' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'to_room' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="sortType = 'form'; sortReverse = !sortReverse">
                Employee ID 
                <span ng-show="sortType == 'form' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'form' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
        </thead>
        
        <tbody>
          <tr ng-repeat="item in users | orderBy:sortType:sortReverse | filter:searchFish">
            <td class="spanData">{{ item.username }}</td>
            <td>{{ item.firstname }} {{ item.lastname }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.role }}</td>
            <td>{{ item.organisation }}</td>
            <td>{{ item.employeeId }}</td>
            <td><button type="submit" ng-click="deleteUser(this.item.username)" class="buttonRed"/>Slet</button></td>    
          </tr>
        </tbody>
      </table>

      <p ng-show="users.length===0">Ingen users.</p>

  </main>
<script>
  var navigation = $('#nav-main').okayNav();
</script>
</body>
</html>
