* { box-sizing:border-box }
*:before, *:after { box-sizing:inherit }

html { font-size: 62.5%; -webkit-tap-highlight-color: rgba(0,0,0,0); font-family: @font-family-base; }

body { font-family: 'Roboto', sans-serif !important; font-size: 1.4em !important; line-height: 1.42857143 !important; color: #555 !important; background-color: #f7f7f7 !important; }

a { text-decoration: none; color: #1b89bf; }

ul { margin: 0; padding: 0; list-style: none; }

main { padding: 30px !important; }

h1 { font-family: "Roboto" !important; text-align: left !important; }
p { margin: 0px; padding: 0px; font-size: 15px; }

form { margin: 0; }

input {  height: 30px; width: 200px; margin-bottom: 10px; padding-left: 5px; outline: none !important; border: 1px solid #bababa !important; box-shadow: none !important; }
input:disabled { background-color: #f3f3f3; }
input[type=email]:focus, input[type=text]:focus, input[type=password]:focus, textarea:focus { outline: none !important; border: 1px solid #000 !important; box-shadow: none !important; }
textarea { min-width: 200px; padding-left: 5px; min-height: 100px; border: 1px solid #bababa !important; }

select { display: inline; width: 200px; height: 28px; overflow: hidden; background-color: white; background-color: #fff !important; margin-bottom: 10px; }

input[type=submit] { width: 210px; height: 45px;  background-color: #bababa; color: #fff; text-transform: uppercase; border-radius: 0px; border: none !important; font-size: 11px; letter-spacing: 2px; }
input[type=submit]:hover { background-color: #fff; color: #bababa; border: 1px solid #bababa !important; }
input[type=submit]:disabled { background-color: #bababa; color: #fff; border: 1px solid #bababa; }
.disabled { background-color: #f7f7f7;}

.patient input { width: 150px; }
.add { display: table-caption; }
.add input { width: 200px; }
.labelForm { min-width: 200px; display: -webkit-inline-box; }

.buttons { }
.button { margin-top: 10px; background-color: #1b89bf; color: #fff; border: none; font-family: Roboto, Georgia; font-size: 14px; text-decoration: none; padding: 10px 20px 10px 20px; }
.button:hover { background: #bababa; color: #fff; }

.buttonRed { margin-top: 10px; background-color: Red; color: #fff; border: none; font-family: Roboto, Georgia; font-size: 14px; text-decoration: none; padding: 10px 20px 10px 20px; }
.buttonRed:hover { background: #bababa; color: #fff; }


.alert-success{ border: 1px solid #25ff81; background-color: #a1ffc9; color: #31aa64; padding: 20px;}
.spanData { color: Red; }



table {
  background-color: #fff;
  text-align: center;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: center;
}
th {
  text-align: center;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}
.table > thead > tr > th {
  vertical-align: bottom;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 1px solid #ddd;
}
.table > tbody + tbody {
  border-top: 1px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}